fastapi
uvicorn[standard]
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
supabase
numpy
scikit-learn
xgboost
python-dotenv
requests
pydantic
httpx
google-api-python-client
beautifulsoup4
aiohttp
apscheduler
slack-sdk
pandas
joblib
pytz
